<div class="content">
  <div class="envelope">
    <div class="head">
      <div class="heading">Hue Studios</div>
      <div class="description">Your own privacy and centralisation awaits!</div>
    </div>
    <div class="main">
      <div class="column">
        <div class="heading">Public Information</div>
        <div class="field">
          <input id="username_inp" type="text" pattern="^[A-Za-z0-9_]+$" minlength="3" maxlength="32" placeholder=" " required>
          <label for="username_inp">Username</label>
        </div>
      </div>
      <div class="column">
        <div class="heading">Private Information</div>
        <div class="field">
          <input id="email_inp" type="text" pattern="^([a-zA-Z0-9._%+-]+)@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,})$" minlength="6" placeholder=" " required>
          <label for="email_inp">Email</label>
        </div>
        <div class="field">
          <input id="birthdate_inp" type="text" pattern="^([a-zA-Z0-9._%+-]+)@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,})$" minlength="6" placeholder=" " required>
          <label for="birthdate_inp">Birthdate</label>
        </div>
      </div>
    </div>
    <div class="footer">

    </div>
  </div>
</div>
