<div class="content">
  <div class="cards">
    <div class="card-container">
      <a class="card" routerLink="/preview/navbar">
        <span>Navigation</span>
      </a>
    </div>
    <div class="card-container">
      <a class="card" routerLink="/preview/register">
        <span>Registration</span>
      </a>
    </div>
    <div class="card-container">
      <a class="card" routerLink="/preview/login">
        <span>Sign In</span>
      </a>
    </div>
    <div class="card-container">
      <a class="card" routerLink="/preview/intents">
        <span>Intents</span>
      </a>
    </div>
  </div>
</div>
