html, body {
  background-color: var(--secondary-bg);
  margin: 0;
  padding: 0;
  overflow: hidden;

  color: var(--secondary-text);
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: Whitney;
  font-weight: 400;
  src: url(/assets/whitney.woff) format("woff")
}

@font-face {
  font-family: 'Panton Black Caps';
  src: url(./assets/panton.black-caps.otf) format('opentype');
}

@font-face {
  font-family: 'Panton Light Caps';
  src: url(./assets/panton.light-caps.otf) format('opentype');
}

:root {
  --link-hover: #27c7b9;

  --logo-pink: #e63462;
  --logo-blue: #2359b5;

  --main-bg: #212930;
  --main-text: #FFFDFA;

  --secondary-bg: #171e26;
  --secondary-text: #7c8084;

  --third-bg: #272d36;

  --input-bg: #6e7786;
  --input-label: #515460;

  --input-invalid: #ED4337;
  --input-valid: #58ed37;
  --input-neutral: #3771ed;

  --primary: #d5fbf4;
  --secondary: #171e26;
  --primbuttn: #2359b5;
  --secbuttn: #00080a;
  --accent: #e63462;
}
